@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
  --lighter-grey: #292a2d;
  --dark-bg: #202124;
  --dark-header: #4f99f6;
  --title: #d7bf04;
}

* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  text-align: justify;
  border: 0;
  padding: 0.5rem;
}

.header {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  border: 0;
  padding-top: 0.25rem;
}

.header-title,
.login-title {
  color: var(--title);
}

.navigation {
  flex-flow: column wrap;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: var(--lighter-grey);
  padding: 1.5rem;
  margin: 0;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
}

.navigation a {
  text-align: center;
  padding: 1em;
  border-top: 1px solid lightslategray;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: block;
  color: white;
}

.navigation li:last-of-type a {
  border-bottom: 1px solid lightslategray;
}

.navigation a:hover {
  background-color: #1565c0 !important;
}

.navigation a.active {
  background-color: #1565c0;
  text-decoration: none;
}

.user-heading {
  display: flex;
  flex-direction: row;
}

.user-heading__icon {
  width: 30px;
  height: 30px;
  margin: 1rem 0.5rem;
}

.user-heading__id {
  padding-right: 1rem;
  color: #1565c0;
}

.misdemeanours {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-confess,
.error-login {
  color: red;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
}

.error-confess {
  justify-content: right;
  padding-right: 10rem;
}

.error-login {
  justify-content: left;
  padding-left: 0.5rem;
}

.error-border {
  border: 2px solid red;
  border-radius: 0.25rem;
}

.confession-form {
  display: flex;
  flex-direction: column;
}

.confession-subject {
  /* padding: 0.5rem 10rem; */
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1rem;
}

.confession-subject__input,
.confession-subject__label {
  padding: 0.2rem;
}

.confession-subject__label::before,
.confession__selector-label::before {
  content: "* ";
  color: red;
}

.confession-detail {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
}

.confession-detail__input {
  display: flex;
  resize: vertical;
  max-width: 100%;
  height: 15rem;
}

.misdemeanour-self {
  background-color: #ff9800;
}

.misdemeanour__cell {
}

.misdemeanour__selector,
.confession__selector {
  display: flex;
  font-size: 1rem;
}

.misdemeanour__selector,
.confession__selector {
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1rem;
}

.misdemeanour__selector-label,
.confession__selector-label,
.misdemeanour__selector-select {
  padding: 0.2rem;
}

.punish-image {
  width: 100%;
  height: auto;
}

.login-form-container {
  display: flex;
  align-items: center;
  height: 100vh; 
  background-color: black;
}

input[type="text"],
input[type="password"] {
  height: 25px;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: paleturquoise;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-svg__path {
  fill: transparent;
}

.login-svg__text {
  fill: #ff9800;
}

.login-svg {
  font-size: 1.85rem;
  width: 100%;
}

.login-form {
  background-color: black;
  padding: 2rem;
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-badge {
  width: 10rem;
  height: auto;
}


.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container__input {
  padding-top: 0.2rem;
}

#confession-message--error,
#confession-message--just-talk,
#confession-message--confession {
  /* By Default, Hidden */
  visibility: hidden;
  min-width: 100%;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  left: 0;
  bottom: 70px;
}

#confession-message--error {
  background-color: darkred;
  color: #fff;
}

#confession-message--confession {
  background-color: darkgreen;
  color: #fff;
}

#confession-message--just-talk {
  background-color: darkgoldenrod;
  color: #fff;
}
.show-bar {
  visibility: visible !important;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 70px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 70px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

img {
  width: 250px;
}

h1 {
  font-size: 2.25rem;
}

p {
  font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--light);
  }
  .navigation {
    background-color: var(--lighter-grey);
  }
  .header {
    background-color: var(--lighter-grey);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light);
    color: var(--dark);
  }
  .navigation,
  .header,
  .footer {
    background-color: var(--dark-header);
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 2.75rem;
  }

  p {
    font-size: 1rem;
    padding-top: 0;
  }

  .login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: var(--lighter-grey);
  }

  .login-form {
    background-color: black;
    padding: 2rem;
    box-shadow: 0px 5px 10px 0px paleturquoise;
  }

  .main {
    padding-top: 5rem;
    flex-grow: 1; 
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 1280px;
    align-self: center;
  }

  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }

  .navigation ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
    font-size: 1.5rem;
    align-self: center;
  }

  .header {
    text-align: left;
    display: flex;
    overflow-wrap: break-word;
    position: fixed;
    margin: 0;
    border: 0;
    padding-left: 1rem;
    width: 100%;
  }

  .navigation a {
    border: 0;
  }

  .navigation a.active {
    color: paleturquoise;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    background-color: var(--lighter-grey);
  }

  .navigation li:last-of-type a {
    border: 0;
  }

  .confessionForm {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .confession-subject {
    padding: 0.5rem 10rem;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-size: 1.25rem;
    line-height: 1rem;
  }

  .confession-subject__input {
    width: 40%;
    padding: 0.2rem;
  }

  .confession-subject__label {
    padding: 0.2rem 2rem;
  }
  .confession-detail {
    padding: 0.5rem 10rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
  }

  .confession-detail__input {
    display: flex;
    resize: vertical;
    font-size: 1.1rem;
    max-width: 100%;
    height: 15rem;
  }

  .confession-submit {
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .confession-submit__button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-family: "Ubuntu", sans-serif;
  }

  .misdemeanour__selector,
  .confession__selector {
    display: flex;
    font-size: 1.25rem;
  }

  .misdemeanour__selector {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .confession__selector {
    padding: 0.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .misdemeanour__selector-label,
  .confession__selector-label {
    padding: 0.2rem 2rem;
  }

  .misdemeanour__selector-select {
    width: 40%;
    padding: 0.2rem;
  }

  .misdemeanours-table thead {
    position: unset;
    left: auto;
    top: auto;
  }

  .misdemeanours-table {
    display: block;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
  }
  .misdemeanours-table thead {
  }
  .misdemeanours-table th,
  .misdemeanours-table td {
    border-right: 1px solid #ffffff;
    text-align: center;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
  }

  .misdemeanours-table th {
    color: darkgray;
    text-align: center;
  }

  .misdemeanours-table th:last-of-type,
  .misdemeanours-table td:last-of-type {
    border: none;
    padding-right: 0.5rem;
  }
  .misdemeanours-table th:first-of-type,
  .misdemeanours-table td:first-of-type {
    padding-left: 0.5rem;
  }

  .punish-image {
    max-width: 200px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  .navigation {
    justify-content: center;
  }
  .navigation ul {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 601px) {
  .misdemeanours-table {
    word-wrap: break-word;
  }
  .misdemeanours-table thead {
    position: absolute;
    left: -999em;
    top: -999em;
  }
  .misdemeanours-table td {
    display: block;
    float: left; /* ie9 and under hack */
    width: 100%;
    clear: both;
    padding: 10px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .misdemeanours-table tbody,
  .misdemeanours-table tr {
    display: block;
  }
  .misdemeanours-table td:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    margin: 0 0 2px;
    color: lightslategray;
  }
  .misdemeanours-table tbody tr {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
}
